.cards {
  padding-top: 2%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
  justify-content: center;
  gap: 10px;
  min-height: 230px;
  grid-auto-rows: 1fr
}

.generator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.generator__title {
  font-size: 1.7rem;
  text-align: center;
  display: flex;
  align-items: center;
}
.generator__input {
  height: 2rem;
  width: 2rem;
  text-align: center;
  border-radius: 50%;
  outline: none;
  font-size: 1rem;
  margin-left: 20px;
}

.generator__input::-webkit-outer-spin-button,
.generator__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.generator__input[type="number"] {
  -moz-appearance: textfield;
}

.generator__button {
  font-size: 2rem;
}

.cards__button-add {
  font-size: 2rem;
  color: rgb(100, 100, 100);
  outline: none;
  transition: border-color 0.3s, box-shadow 0.3s linear;
}
.cards__button-add:hover {
  border-color: rgba(49, 197, 4, 0.829);
  box-shadow: 0 0 5px rgba(34, 145, 0, 0.5);
}

@media screen and (max-width: 765px) {
  .cards {
    padding: 1% 2%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 149px));
    gap: 5px;
  }
  .generator__title {
    flex-direction: column;
  }
  .generator__input {
    margin: 0.8rem 0;
  }
}
